<mat-toolbar color="primary">
  <mat-icon fontIcon="public"></mat-icon>
  <span>NASA</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Choose parameters for photo</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="choseForm"
            [formGroup]="chooseForm"
            (ngSubmit)="submitForm(chooseForm.value)">

        <mat-form-field>
          <mat-label>Choose Rover</mat-label>
          <mat-select
            [(ngModel)]="selectedValue"
            formControlName="id">
            <mat-option *ngFor="let rover of rovers" [value]="rover.id">
              {{rover.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose Rover camera</mat-label>
          <mat-select formControlName="camera">
            <mat-option
              *ngFor="let camera of rovers[getIndex(selectedValue)].supportedCameras"
              [value]="camera">
              {{camera}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>by Earth or Martian</mat-label>
          <mat-select formControlName="planet" [(ngModel)]="byPlanet">
            <mat-option *ngFor="let planet of planets" [value]="planet.value">
              {{planet.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="byPlanet == 'earth'">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          *ngIf="byPlanet == 'martian'">
          <mat-label>Enter sol</mat-label>
          <input type="number"
                 matInput
                 placeholder="Max sol = {{rovers[getIndex(selectedValue)].max_sol}}"
                 formControlName="date"
                 [max]="rovers[getIndex(selectedValue)].max_sol"
          >
        </mat-form-field>

        <button
          mat-raised-button color="primary"
          type="submit"
          [disabled]="chooseForm.invalid">Load photos
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="wrapper block" *ngIf="noPhotos">
    <p>Nothing was found for this query.</p>
  </div>
  <div class="wrapper" *ngIf="showWrapper">
    <div class="item" *ngFor="let photo of paginationPhoto">
      <img [src]="photo.img_src" alt="">
    </div>
  </div>
  <div class="paginator-controls" *ngIf="showWrapper">
    <button mat-raised-button
            (click)="onLoadMore()"
            *ngIf="!disableButton"
    >Load more...
    </button>
  </div>

</div>
