@import "src/assets/scss/mixins";

mat-toolbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container{
  position: relative;
  top: 64px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

mat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 25px 10px;
  box-sizing: border-box;


  .choseForm{
    display: flex;
    gap: 15px;

    @include phone {
      flex-direction: column;
    }

  }
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  background-color: rgba(255,255,255, .8);
  border-radius: 5px;

  @include phone {
    grid-template-columns: 1fr;
  }

  .item{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;

    img{
      height: 300px;
      max-width: 300px;
      box-sizing: border-box;
    }
  }
}

.paginator-controls{
  margin-top: 20px;
}
