@import "src/assets/scss/mixins";

mat-toolbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 25px 0;

  @include phone{
    width: 350px;
  }

  .choseForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
