/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("assets/bg-image/NASA_Mars_Rover.jpeg") no-repeat fixed center;
  background-size: cover;
  opacity: .8;
  filter: blur(3px);
}
